@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.aboutSection.light{
    background-color: white;
}

.aboutSection.dark{
    background-color: #121212;
}

.aboutFirstText.light{
    font-size: 40px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
} 

.aboutFirstText.dark{
    font-size: 40px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #E0E0E0;
}

.aboutLoremTextDiv{
    width: 75%;
    margin-left: 50px;
    margin-bottom: 40px;
}

.aboutLoremText.light{
    font-size: 18px;
    font-family: 'Red hat display', sans-serif;
    color: black;
    font-weight: 600;
}   

.aboutLoremText.dark{
    font-size: 18px;
    font-family: 'Red hat display', sans-serif;
    color: #E0E0E0;
    font-weight: 600;
}