@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


.Footer.light{
    background-color: black;
}

.Footer.dark{
    background-color: #0e0d0d;
}

.footerSection{
    display: grid;
    grid-gap: 20px;
    font-family: 'Manrope';
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.footerLogo{
    font-size: 30px;
    font-weight: 700;
}

.wordTwo{
    font-size: 17px;
    font-weight: 500;
}

.wordThree{
    font-size: 17px;
    font-weight: 500;
}

.footerHr{
    margin: 0 auto;
    width: 90%;
    color: black;
}